@namespace PS.Master.UI.Components

<div class="top-row px-4">
    @if (IsAuthenticated)
    {
        <span class="text-primary">Hello @UserName!</span>
    }
    else
    {
        <span class="text-primary">Not Authenticated</span>
    }

</div>

@code {
    [Parameter] public string UserName { get; set; }
    [Parameter] public bool IsAuthenticated { get; set; }
}
